# Ignore application properties with secrets

src/main/resources/application.properties

# Other environment configs

application.properties
application-dev.properties
application-prod.properties

# Logs

*.log

# Maven build folder

target/

# Build folders

build/

# IDE files

.vscode/
.idea/

# OS files

.DS_Store
Thumbs.db
